* {
    margin: 0;
    padding: 0;

}

#weather-logo {
    font-family: 'Poppins', sans-serif;

    font-size: 2rem;
    color: aliceblue;
}

#hub {
    font-family: 'Poppins', sans-serif;
}


.nav-ul li {
    display: inline;
    margin: 10px;

    padding: 5px;
    font-size: 1.2rem;
    letter-spacing: 1px;
    font-family: 'Poppins', sans-serif;

    position: relative;


}

.nav-ul li::before {
    position: absolute;
    content: " ";
    width: 0%;
    height: 4px;
    bottom: -1px;
    border-radius: 20px;
    left: 30%;
    right: 40%;
    background-color: #ffad51;
    left: 50%;
    right: 50%;
    transition: 0.6s ease-out;

}

.nav-ul li:hover::before {

    width: 100%;

    left: 0%;
    right: 0%;


}

#dashboard ul li {
    position: absolute !important;
    content: " ";
    width: 0% !important;
    height: 4px;
    bottom: -1px;
    border-radius: 20px;
    left: 30%;
    right: 40%;
    background-color: #ffad51;
    left: 50%;
    right: 50%;

}

.nav-ul li a:hover {
    color: #da7400;
}

.nav-ul li a {
    color: aliceblue;
    font-weight: bold;
}

.logo h1 {
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    letter-spacing: 4px;

    color: #ff951c;
}

#nav-bar {
    position: sticky;
    top: 0;
}


#body-inp span {
    cursor: pointer;

}

.title {
    padding-top: 10%;
}

.body-title-1 {

    color: #ffad51;
    font-family: 'Poppins', sans-serif;
    font-size: 2rem;
    padding: 0% 20%;
}

.body-title-2 {

    font-size: 4rem;
    text-transform: capitalize;
    color: azure;
    padding: 0% 20%;

}

.body-title-3 {
    margin-top: 3%;
    font-size: 1.5rem;

    color: aliceblue;
    padding: 0% 20%;
    margin-bottom: 5%;
}

.body-inp {
    width: 80%;
}

div#body-inp {
    width: 75%;
    margin: auto;

}

#body-inp button {

    border: none;
}

#body-inp .form-control {
    line-height: 2.6;
}

.title div {
    margin: auto !important;
}

.form-floating>label {

    font-family: 'Poppins', sans-serif;
}

#body-content {
    background-image: linear-gradient(rgb(37 34 34), rgb(0 0 0 / 30%)), url(photo-1682687220499-d9c06b872eee.avif);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-image: c;



}

#weather-dashboard {

    background-repeat: no-repeat;
    background-size: 100% 100%;

    padding: 10px;

}

.container.wheather-detail {

    margin-top: 10%;
    width: 55%;
    text-align: center;
    padding: 30px;

    border-radius: 20px;
    margin-bottom: 5%;
    background-color: rgb(0 0 0 / 25%);

}

.conrName h1 {
    font-family: 'Poppins', sans-serif;
    color: #FFFFFF;
}

#weat-desc {
    display: none;
}

#country {
    font-weight: bold;
    letter-spacing: 4px;
}

#weat-main {
    color: #ff951c;
    font-weight: bold;
    letter-spacing: 3px;
}

#error-msg img {
    margin-top: 5%;
    width: 50%;


}

#error-msg {
    display: none;
}

#sm-nav {
    transition: 0.5s ease-in-out;
    background-color: #383434;
    position: absolute;
    right: -10%;
    background-color: #383434;
    height: 50vh;
    top: 0;
    display: none;


}

#sm-nav ul {
    display: none;
    display: flex;
    flex-direction: column !important;

    margin-top: 30%;

}

#open {
    font-size: 30px;

}

footer {
    background: linear-gradient(rgb(47 46 46), rgb(0 0 0 / 77%));
}


/*  Responsive   */

@media screen and (max-width: 425px) {
    .title {
        padding-top: 30%;
    }

    #weather-logo {
        font-size: 1.3rem;
    }

    #hub {
        font-size: 1.7rem;
    }

    .logo h1 i {
        font-size: 2rem;
    }

    #lg-nav {
        display: none;
    }

    div#open {
        display: block !important;
    }

    .body-title-1 {
        padding: 0%;
        font-size: 1.5rem;
        margin-top: 10%;
    }

    .body-title-2 {
        padding: 0%;
        font-size: 2.5rem;
    }

    .body-title-3 {
        margin-top: 10%;
        padding: 0%;
        font-size: 1rem;
    }

    div#body-inp {
        width: 100%;
        margin-top: 10% !important;
        padding-bottom: 10% !important;
    }

    #weather-dashboard {
        height: auto;
    }

    .container.wheather-detail {
        width: 90%;
    }

    .rainDetail h2 {
        margin-top: 10%;
        display: flex;
        flex-direction: column;
    }

    #temp {
        margin-top: 10%;
        font-size: 3rem;
    }

    #temp span {
        font-size: 2rem;
    }

    .deg span {
        font-size: 2rem;

    }

    span #deg {
        font-size: 1rem !important;
    }

    #weat-main {
        font-size: 2rem;
    }

    #fell {
        flex-direction: column;
        margin-top: 20% !important;
    }

}

@media (min-width:425px) and (max-width:575px) {

    .title {
        padding-top: 30%;
    }

    #weather-logo {
        font-size: 1.3rem;
    }

    #hub {
        font-size: 1.7rem;
    }

    .body-title-1 {
        padding: 0%;
        font-size: 1.5rem;
    }

    .body-title-2 {
        padding: 0%;
        font-size: 3rem;
    }

    .body-title-3 {
        margin-top: 10%;
        padding: 0%;
        font-size: 1.2rem;
    }

    div#body-inp {
        width: 100%;
        margin-top: 10% !important;
        padding-bottom: 10% !important;
    }

    #lg-nav {
        display: none;
    }

    div#open {
        display: block !important;
    }

    #weather-dashboard {
        height: auto;
    }

    .container.wheather-detail {
        width: 80%;
    }

    .rainDetail h2 {
        margin-top: 10%;
        display: flex;
        flex-direction: column;
    }

    #temp {
        margin-top: 10%;
        font-size: 3rem;
    }

    #temp span {
        font-size: 2rem;
    }

    .deg span {
        font-size: 2rem;


    }

    span #deg {
        font-size: 1rem !important;
    }

    #weat-main {
        font-size: 2rem;
    }

    #fell {
        flex-direction: column;
        margin-top: 20% !important;
    }


}

@media (min-width:575px) and (max-width:767px) {

    .title {
        padding-top: 30%;
    }

    #hub {
        font-size: 1.7rem;
    }

    .body-title-1 {
        padding: 0% 5%;
        font-size: 1.5rem;
    }

    .body-title-2 {
        padding: 0% 5%;
        font-size: 3rem;
    }

    .body-title-3 {
        margin-top: 10%;
        padding: 0% 5%;
        font-size: 1.2rem;
    }

    div#body-inp {
        width: 100%;
        margin-top: 10% !important;
        padding-bottom: 10% !important;
    }

    #weather-dashboard {
        height: auto;
    }

    .container.wheather-detail {
        width: 80%;
    }

    .rainDetail h2 {
        margin-top: 10%;
        display: flex;
        flex-direction: column;
    }

    #temp {
        margin-top: 10%;
        font-size: 3rem;
    }

    #temp span {
        font-size: 2rem;
    }

    .deg span {
        font-size: 2rem;


    }

    span #deg {
        font-size: 1rem !important;
    }

    #weat-main {
        font-size: 2rem;
    }

    #fell {
        flex-direction: column;
        margin-top: 20% !important;
    }



}

@media (min-width:767px) and (max-width: 991px) {
    .title {
        padding-top: 20%;
    }


    #hub {
        font-size: 1.7rem;
    }

    .body-title-1 {
        padding: 0% 0%;
        font-size: 2rem;
    }

    .body-title-2 {
        padding: 0% 0%;
        font-size: 3rem;
    }

    .body-title-3 {
        margin-top: 10%;
        padding: 0% 0%;
        font-size: 1.5rem;
    }

    div#body-inp {
        width: 100%;
        margin-top: 10% !important;
        padding-bottom: 10% !important;
    }

    #sm-nav {
        display: none;
    }

    #weather-dashboard {
        height: auto;
    }

    .container.wheather-detail {
        width: 80%;
    }

    .rainDetail h2 {
        margin-top: 10%;
        display: flex;
        flex-direction: column;
    }

    #temp {
        margin-top: 10%;
        font-size: 3rem;
    }

    #temp span {
        font-size: 2rem;
    }

    .deg span {
        font-size: 2rem;


    }

    span #deg {
        font-size: 1rem !important;
    }

    #weat-main {
        font-size: 2rem;
    }

    #fell {
        flex-direction: column;
        margin-top: 20% !important;
    }




}

@media (min-width:991px) and (max-width :1154px) {
    .title {
        padding-top: 15%;
    }

    .body-title-1 {
        padding: 0% 5%;
        font-size: 2rem;
    }

    .body-title-2 {
        padding: 0% 5%;
        font-size: 4rem;
    }

    .body-title-3 {
        margin-top: 3%;
        padding: 0% 5%;
        font-size: 1.5rem;
    }

    div#body-inp {
        width: 100%;
        margin-top: 10% !important;
        padding-bottom: 5% !important;
    }

    #weather-dashboard {
        height: max-content;

    }

    #fell p span:nth-child(1) {
        width: auto;

    }

    .container.wheather-detail {
        width: 65%;
    }


}

@media (min-width:1154px) and (max-width:1199px) {


    .body-title-1 {
        padding: 0% 5%;
        font-size: 2rem;
    }

    .body-title-2 {
        padding: 0% 5%;
        font-size: 4rem;
    }

    .body-title-3 {
        margin-top: 3%;
        padding: 0% 5%;
        font-size: 1.5rem;
    }

    div#body-inp {
        width: 100%;
        margin-top: 10% !important;
        padding-bottom: 5% !important;
    }

    #weather-dashboard {
        height: max-content;
    }

    .container.wheather-detail {
        width: 75%;
    }

}

@media (min-width:1199px) and (max-width:1399px) {

    .body-title-1 {
        padding: 0% 5%;
        font-size: 2rem;
    }

    .body-title-2 {
        padding: 0% 5%;
        font-size: 4rem;
    }

    .body-title-3 {
        margin-top: 3%;
        padding: 0% 5%;
        font-size: 1.5rem;
    }

    div#body-inp {
        width: 100%;
        margin-top: 10% !important;

    }

    #weather-dashboard {
        height: max-content;
    }

    .container.wheather-detail {
        width: 75%;
    }

}